$background_color: #121420;
$font-color: #F4F4F9;

@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

body {
  margin: 0;
  width: 350px;
  height: 600px;
  color: $font-color;
  background-color: $background_color;
  font-family: 'Aldrich', sans-serif;
}