@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  @apply m-0 p-0 outline-none;
}

body {
  @apply mx-auto w-[350px] h-[600px] bg-bg text-text;

  font-family: "Montserrat", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.form {
  @apply w-full flex flex-col gap-6;

  .form-title {
    @apply p-0 mx-auto text-[1.3rem];
  }

  .form-field {
    @apply w-full flex flex-col gap-[.3rem];

    .input {
      @apply text-[.9rem];
    }
  }
}

.btn {
  @apply px-2 py-2 text-sm rounded-xl font-medium cursor-pointer shadow-sm text-center;

  &:disabled {
    @apply cursor-not-allowed opacity-50;
  }
}

.primary {
  @apply text-text border border-text transition-colors hover:bg-text hover:text-bg leading-tight;
}

.secondary {
  @apply bg-secondary;
}

.input {
  @apply p-2 text-base text-text bg-input-bg rounded-xl;
}

.react-loading {
  display: flex;
}

.app {
  @apply h-full min-h-screen flex justify-center items-center w-full;

  .main-route {
    @apply w-full flex justify-center;
  }

  .toast {
    @apply bg-panel text-text text-[.9rem] border border-bg;
  }
}

::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}

::-webkit-scrollbar-track {
  @apply bg-bg;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
