$background: #121420;
$input_background: #766C7F;
$font_color: #F4F4F9;
$button_secondary_background: #A8D0DB;
$button_primary_background: #FFBC42;
$panel_background: #3b4167;

@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

*:focus {
  outline: none;
}

body {
  margin: 0 auto;
  width: 350px;
  height: 600px;
  color: $font_color;
  background-color: $background;
  font-family: 'Aldrich', sans-serif;
  color: $font_color;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .form-title {
    padding: 0;
    margin: 0 auto;
    font-size: 1.3rem
  }
}

.btn {
  border: 0;
  padding: .5rem;
  font-size: 1.1rem;
  border-radius: .6rem;
}

.btn:hover {
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.primary {
  background-color: $font_color;
}

.secondary {
  background-color: $button_secondary_background;
}

.input {
  border: 0;
  font-size: 1.2rem;
  border-radius: .6rem;
  padding: .5rem;
  background-color: $input_background;
  color: $font_color;
}