$btn_background: #3b4167;
$font_color: #F4F4F9;

.walletDiv {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .changeWalletAccDiv {
    display: flex;
    justify-content: space-evenly;
    height: 10vh;

    .change {
      width: 100%;
      background-color: transparent;
      color: $font_color;
      margin: .5rem;
      font-size: 1rem;
      border-radius: 0;
      border-bottom: 1px solid white;
    }
  }

  .accPanel {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;

    * {
      margin: 0;
    }

    .balance {
      @apply flex items-center justify-center;
      font-size: 2rem;
      width: 100%;
      gap: 1rem;
    }

    .accPubAddress {
      width: 100%;
      gap: .5rem;

      color: rgb(158, 158, 158);

      .icon {
        width: 1.5rem;
        color: rgb(158, 158, 158);
      }
    }

    .accPubAddress:hover {
      cursor: pointer;
    }

    .receiveSendBtns {
      width: 100%;
      gap: 1rem;
      padding-top: 1rem;

      .btn {
        @apply bg-panel text-text gap-4 text-lg pr-4 px-3 py-1.5;

        .icon {
          @apply w-[1.5rem];
        }
      }

      .btn:hover {
        @apply bg-hovered-btn transition-colors;
      }

    }
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  @apply rounded-[.3rem];
}

.transactions {
  @apply text-lg text-center;
}