$btn_background: #3b4167;
$font_color: #f4f4f9;

.walletDiv {
  @apply w-full h-full pt-[1rem] flex flex-col justify-start;

  .changeWalletAccDiv {
    @apply flex justify-evenly h-[10vh];

    .change {
      @apply w-full text-text m-2 text-base;
    }
  }

  .accPanel {
    @apply flex flex-col justify-start items-center mt-8 gap-4;

    * {
      @apply m-0;
    }

    .balance {
      @apply flex items-center justify-center text-3xl w-full gap-4;
    }

    .accPubAddress {
      @apply w-full gap-2;

      color: rgb(158, 158, 158);

      .icon {
        width: 1rem;
        color: rgb(158, 158, 158);
      }
    }

    .accPubAddress:hover {
      cursor: pointer;
    }

    .receiveSendBtns {
      width: 100%;
      gap: 1rem;
      padding-top: 1rem;

      .btn {
        @apply bg-panel text-text gap-4 text-lg pr-4 px-3 py-1.5;

        .icon {
          @apply w-[1.5rem];
        }
      }

      .btn:hover {
        @apply bg-hovered-btn transition-colors;
      }
    }
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  @apply rounded-[.3rem];
}

.transactions {
  @apply text-lg text-center mt-6;
}

.transactionsDiv {
  overflow-y: scroll;
  @apply h-full flex flex-col items-center pt-[1rem];

  .transaction {
    @apply bg-hovered w-[90%] p-[.5rem] rounded-[.3rem] my-[.3rem];

    &:hover {
      @apply cursor-pointer bg-input-bg;
    }
  }
}

.noTransactions {
  @apply w-full h-full items-center flex justify-center pb-[4rem];
}