$font_color: #F4F4F9;
$background: #3b4167;
$hover_background: #323651;
$secondary_background: #43475f;
$secondary_background_hover: #545873;

.switch-acc-div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;

    .control-div {
        height: 10vh;
        display: flex;
        justify-content: space-between;
        width: 90%;
        align-items: center;

        .control-elem {
            color: $font_color;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .back {
            width: 25%;
        }

        .add-new:hover {
            cursor: pointer;
        }
    }

    .accounts {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 1rem;
        width: 95%;
        padding-bottom: 1rem;

        .main-acc {
            position: relative;
            background: $secondary_background;
            border-radius: .5rem;
            overflow: hidden;

            .account {
                display: flex;
                padding: .5rem;
                justify-content: space-between;

                .acc-info {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    .name {
                        display: flex;
                        align-items: center;
                        gap: .5rem;

                        .icon {
                            width: 1.5rem;
                        }
                    }

                    .address {
                        font-size: .8rem;
                    }
                }

                .acc-control {
                    .manage-acc-button {
                        background-color: transparent;
                        border: 0;
                        border-radius: 50%;
                        padding: .5rem;

                    }

                    .manage-acc-button:hover {
                        background-color: $secondary_background_hover;
                        cursor: pointer;
                        transition: all ease-in-out .2s;
                    }
                }
            }

            .acc-settings {
                display: flex;
                justify-content: center;
                gap: 1.8rem;
                align-items: center;
                position: absolute;
                z-index: 2;
                top: 0;
                left: 100%;
                bottom: 0;
                transition: all .3s ease-in-out;
                width: 100%;
                background-color: $hover_background;

                .devider {
                    background-color: $font_color;
                    height: 80%;
                    width: 1px;
                }

                .acc-setting {
                    .icon {
                        width: 1.8rem;
                    }

                    .icon:hover {
                        scale: 1.1;
                        cursor: pointer;
                    }
                }
            }

            .active {
                left: 0;
            }
        }

    }
}