@import "https://fonts.googleapis.com/css2?family=Aldrich&display=swap";

/* src/ui/index.scss */
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  @apply m-0 p-0 outline-none;
}
body {
  @apply mx-auto w-[350px] h-[600px] bg-bg text-text;
  font-family: "Aldrich", sans-serif;
}
.form {
  @apply w-[80%] flex flex-col gap-[1.5rem];
}
.form .form-title {
  @apply p-0 mx-auto text-[1.3rem];
}
.form .form-field {
  @apply w-full flex flex-col gap-[.3rem];
}
.form .form-field .input {
  @apply text-[.9rem];
}
.btn {
  @apply border-0 px-2 pb-1 pt-1.5 text-[1.1rem] mx-auto w-[90%] rounded-[.3rem];
}
.btn:hover {
  @apply cursor-pointer shadow-sm;
}
.primary {
  @apply bg-text text-black leading-tight;
}
.secondary {
  @apply bg-secondary;
}
.input {
  @apply border-0 p-[.5rem] text-[1.1rem] bg-input-bg text-text rounded-[.3rem];
}
.react-loading {
  display: flex;
}

/* src/ui/App.scss */
.app {
  @apply w-full h-screen flex justify-center items-center;
}
.app .main-route {
  @apply w-full flex justify-center;
}
.app .toast {
  @apply bg-panel text-text text-[.9rem] border border-bg;
}

/* src/ui/components/nav/styles.module.scss */
.mainNav {
  @apply h-[10vh] bg-bg absolute flex bottom-0 w-[350px] justify-evenly;
}
.mainNav .navBtn {
  @apply w-1/2 bg-transparent border-0 hover:cursor-pointer flex justify-center items-center;
}

/* src/ui/components/icons/Icon.scss */
.icon {
  @apply w-8 text-text;
}

/* src/ui/pages/home/layout/styles.module.scss */
.layout {
  @apply w-full flex flex-col h-screen overflow-hidden;
}

/* src/ui/pages/home/wallet/styles.module.scss */
.walletDiv {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.walletDiv .changeWalletAccDiv {
  display: flex;
  justify-content: space-evenly;
  height: 10vh;
}
.walletDiv .changeWalletAccDiv .change {
  width: 100%;
  background-color: transparent;
  color: #F4F4F9;
  margin: 0.5rem;
  font-size: 1rem;
  border-radius: 0;
  border-bottom: 1px solid white;
}
.walletDiv .accPanel {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}
.walletDiv .accPanel * {
  margin: 0;
}
.walletDiv .accPanel .balance {
  @apply flex items-center justify-center;
  font-size: 2rem;
  width: 100%;
  gap: 1rem;
}
.walletDiv .accPanel .accPubAddress {
  width: 100%;
  gap: 0.5rem;
  color: rgb(158, 158, 158);
}
.walletDiv .accPanel .accPubAddress .icon {
  width: 1.5rem;
  color: rgb(158, 158, 158);
}
.walletDiv .accPanel .accPubAddress:hover {
  cursor: pointer;
}
.walletDiv .accPanel .receiveSendBtns {
  width: 100%;
  gap: 1rem;
  padding-top: 1rem;
}
.walletDiv .accPanel .receiveSendBtns .btn {
  @apply bg-panel text-text gap-4 text-lg pr-4 px-3 py-1.5;
}
.walletDiv .accPanel .receiveSendBtns .btn .icon {
  @apply w-[1.5rem];
}
.walletDiv .accPanel .receiveSendBtns .btn:hover {
  @apply bg-hovered-btn transition-colors;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  @apply rounded-[.3rem];
}
.transactions {
  @apply text-lg text-center;
}

/* src/ui/pages/account/login/styles.module.scss */
.form {
  @apply w-[80%] flex flex-col gap-8;
}
.form .formTitle {
  @apply text-center text-lg;
}

/* src/ui/components/pages/switch-account/styles.module.scss */
.switchAccDiv {
  @apply flex justify-items-start flex-col items-center w-full h-full;
}
.switchAccDiv .controlDiv {
  @apply h-[10vh] flex justify-between w-[90%] items-center;
}
.switchAccDiv .controlDiv .controlElem {
  @apply text-text flex items-center justify-between;
}
.switchAccDiv .controlDiv .addNew:hover {
  @apply cursor-pointer;
}
.switchAccDiv .accounts {
  @apply flex flex-col gap-4 pt-4 w-[95%] pb-4;
}
.switchAccDiv .accounts .mainAcc {
  @apply relative bg-input-bg overflow-hidden rounded-[.3rem];
}
.switchAccDiv .accounts .mainAcc .account {
  @apply flex p-2 justify-between;
}
.switchAccDiv .accounts .mainAcc .account .accInfo {
  @apply flex flex-col gap-2 w-[90%];
}
.switchAccDiv .accounts .mainAcc .account .accInfo .name {
  @apply flex items-center gap-2;
}
.switchAccDiv .accounts .mainAcc .account .accInfo .name .icon {
  @apply w-[1.5rem];
}
.switchAccDiv .accounts .mainAcc .account .accInfo .address {
  @apply text-[.8rem];
}
.switchAccDiv .accounts .mainAcc .account .accControl .manageAccButton {
  @apply bg-transparent border-0 rounded-[50%] p-2 py-3;
}
.switchAccDiv .accounts .mainAcc .account .accControl .manageAccButton:hover {
  @apply bg-hovered cursor-pointer transition-all duration-200;
}
.switchAccDiv .accounts .mainAcc .accSettings {
  @apply flex justify-center gap-[1.6rem] items-center absolute z-10 top-0 left-full bottom-0 transition-all duration-300 w-full bg-hovered;
}
.switchAccDiv .accounts .mainAcc .accSettings .divider {
  @apply bg-text h-[80%] w-[1px];
}
.switchAccDiv .accounts .mainAcc .accSettings .accSetting .icon {
  @apply w-[1.8rem];
}
.switchAccDiv .accounts .mainAcc .accSettings .accSetting .icon:hover {
  @apply scale-110 cursor-pointer;
}
.switchAccDiv .accounts .mainAcc .active {
  @apply left-0;
}

/* src/ui/components/pages/styles.module.scss */
.layout {
  @apply w-full h-full;
}
.controlDiv {
  @apply h-[5vh] flex justify-between items-center text-[.8rem] p-[1rem] pt-[1.8rem];
}
.controlElem {
  @apply flex justify-between items-center;
}
.contentDiv {
  @apply h-[95vh] flex items-center justify-center;
}

/* src/ui/components/pages/receive/styles.module.scss */
.receive {
  @apply h-full pt-[2rem] gap-[1.5rem] flex flex-col;
}
.accTitle {
  @apply w-full flex justify-center text-lg;
}
.copyButton {
  @apply flex items-center justify-center w-full;
}

/* src/ui/components/pages/switch-wallet/styles.module.scss */
.switchWalletDiv {
  @apply flex justify-items-start flex-col items-center w-full h-full;
}
.switchWalletDiv .controlDiv {
  @apply h-[10vh] flex justify-between w-[90%] items-center;
}
.switchWalletDiv .controlDiv .controlElem {
  @apply text-text flex items-center justify-between;
}
.switchWalletDiv .controlDiv .addNew:hover {
  @apply cursor-pointer;
}
.switchWalletDiv .wallets {
  @apply flex flex-col gap-4 pt-4 w-[95%] pb-4;
}
.switchWalletDiv .wallets .mainWallet {
  @apply relative bg-input-bg overflow-hidden rounded-[.3rem];
}
.switchWalletDiv .wallets .mainWallet .wallet {
  @apply flex p-2 justify-between;
}
.switchWalletDiv .wallets .mainWallet .wallet .walletInfo {
  @apply flex items-center gap-2 w-[90%];
}
.switchWalletDiv .wallets .mainWallet .wallet .walletInfo:hover {
  @apply cursor-pointer;
}
.switchWalletDiv .wallets .mainWallet .wallet .walletControl .manageWalletButton {
  @apply bg-transparent border-0 rounded-[50%] p-2 py-3;
}
.switchWalletDiv .wallets .mainWallet .wallet .walletControl .manageWalletButton:hover {
  @apply bg-hovered cursor-pointer transition-all duration-200;
}
.switchWalletDiv .wallets .mainWallet .walletSettings {
  @apply flex justify-center gap-[1.6rem] items-center absolute z-10 top-0 left-full bottom-0 transition-all duration-300 w-full bg-hovered;
}
.switchWalletDiv .wallets .mainWallet .walletSettings .divider {
  @apply bg-text h-[80%] w-[1px];
}
.switchWalletDiv .wallets .mainWallet .active {
  @apply left-0;
}

/* src/ui/components/pages/new-wallet/styles.module.scss */
.choice {
  @apply w-full h-full flex flex-col items-center text-[1rem];
}
.choice .choiceDiv {
  @apply pt-[2rem] w-full flex justify-center flex-col items-center;
}
.choice .choiceDiv .variant {
  @apply bg-panel mt-[1rem] p-[1rem] w-[90%] flex justify-center rounded-[.3rem];
}
.choice .choiceDiv .variant:hover {
  @apply cursor-pointer;
}

/* src/ui/components/pages/new-wallet/new-mnemonic/styles.module.scss */
.newMnemonic {
  @apply w-full h-full flex flex-col items-center gap-[2rem] text-[1rem] p-[1rem];
}
.phrase {
  @apply grid grid-cols-3 text-[0.8rem];
}
.stepTitle {
  @apply flex justify-between w-[50%];
}
.word {
  @apply p-5 gap-[.5rem];
}
.active {
  color: red;
}
.word {
  @apply flex justify-between items-center;
}
.word .wordWord {
  @apply bg-panel p-[.5rem] rounded-lg w-[80%] flex justify-center;
}
.savePhrase,
.saveToClipboard {
  @apply flex items-center w-full justify-center;
}
.savePhrase:hover,
.saveToClipboard:hover {
  cursor: default;
}
.continueWrapper {
  @apply w-full flex justify-center py-[1rem];
}
.warning {
  @apply w-full flex justify-center text-yellow-200;
}
.step {
  @apply h-full flex flex-col justify-between;
}
.savePhraseWrapper {
  @apply flex flex-col gap-[1rem];
}
.savePhrase {
  @apply flex items-center gap-[1rem];
}

/* src/ui/pages/home/settings/styles.module.scss */
.settings {
  @apply h-full w-full flex flex-col gap-6 justify-center items-center;
}
.card {
  @apply w-11/12 flex justify-center items-center bg-panel;
}
.card:hover {
  cursor: pointer;
}
.card .cardText {
  @apply text-lg p-2;
}

/* src/ui/components/pages/switch-account/show-pk/styles.module.scss */
.showPk {
  @apply w-full h-full max-w-[350px];
}

/* src/ui/components/check-password/styles.module.scss */
.form {
  @apply w-[80%] flex flex-col gap-8;
}
.form .formTitle {
  @apply text-center text-lg;
}

/* src/ui/components/pages/switch-wallet/show-mnemonic/styles.module.scss */

/* src/ui/components/pages/send/styles.module.scss */
.send {
  @apply items-start w-full h-full justify-between p-[1rem];
}
.sendBtn {
  @apply w-full;
}
.inputs {
  @apply w-full flex flex-col justify-center items-center gap-[2rem];
}
