$btn_background: #3b4167;
$font_color: #F4F4F9;

.wallet-div {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .change-wallet-acc-div {
        display: flex;
        justify-content: space-evenly;
        height: 10vh;

        .change {
            width: 100%;
            background-color: transparent;
            color: $font_color;
            margin: .5rem;
            font-size: 1rem;
            border-radius: 0;
            border-bottom: 1px solid white;
        }
    }

    .acc-panel {
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 2rem;
        gap: 1rem;

        * {
            margin: 0;
        }

        .balance {
            font-size: 2rem;
            width: 100%;
        }

        .acc-pub-address {
            width: 100%;
            gap: .5rem;

            .icon {
                width: 1.5rem;
            }
        }

        .acc-pub-address:hover {
            cursor: pointer;
        }

        .receive-send-btns {
            width: 100%;
            gap: 1rem;
            padding-top: 1rem;

            .btn {
                background-color: $btn_background;
                color: $font_color;
                gap: 1rem;
                font-size: 1rem;
                padding-right: 1rem;

                .icon {
                    width: 1.5rem;
                }
            }
        }
    }

    .transactions-div {
        height: 50vh;
    }
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}