$panel_background: #3b4167;
$input_background: #766C7F;
$font_color: #F4F4F9;

.select-div {
    position: fixed;
    max-width: 350px;
    width: 100%;
    display: flex;
    // justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    .select-button {
        border: 0;
        background-color: $input_background;
        width: 80%;
        height: 5vh;
        color: $font_color;
        border-radius: 2rem;
    }
}